header {
  background-color:  #CED4DA;
}
.header-row {
  display: flex;
  align-items: center;
}
.header {
  font-family: "Yantramanav",sans-serif;
  margin: 0;
  padding: 1rem 3rem;
}
.nav {
  text-decoration: none;
  font-family: "Yantramanav",sans-serif;
  font-size: 23px;
  color: black;
  margin: 8px;
  text-transform: uppercase;
}
main {
  margin-bottom: 4rem;
}
h1 {
  font-family: "Noto Sans JP",sans-serif;
  font-size: 33px;
  margin-left: 3rem;
  text-transform: uppercase;
}
form,section {
  max-width: 862px;
  position: relative;
}
.row-half{
  display: flex;
}
.image-frame{
  width: 50%;
  margin-left: 3rem;
  display: flex;
}
.profile-image,.entry-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
  outline: none;
}
.text-inputs {
  padding-left: 3rem;
  width: 50%;
}
.text {
  width: 20rem;
  height: 2.5rem;
  outline: none;
  border: solid #CED4DA;
  border-radius: 20px;
  transition: box-shadow 0.5s ease;
}
.text:focus{
  box-shadow: 0px 0px 20px lightgray;
}
label {
  text-transform: uppercase;
}
p {
  font-family: "Noto Sans JP",sans-serif;
}
.row-full {
  margin: 0 3rem;
}
textarea {
  width: 48.5rem;
  height: 4rem;
  border-radius: 20px;
  outline: none;
  border: solid #CED4DA;
  transition: box-shadow 0.5s ease;
}
textarea:focus {
  box-shadow: 0px 0px 20px lightgray;
}
.row-button {
  text-align: right;
  margin: 1rem 0;
}
button{
  width: 5rem;
  font-family: 'Noto Sans JP',sans-serif;
  height: 35px;
  background-color: white;
  border: solid #CED4DA;
  border-radius: 20px;
  margin: 2rem 1rem;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  transition: background-color 0.5s ease, border 0.5s ease,color 0.3s ease;
  text-transform: uppercase;
}
button:hover{
  background-color: #CED4DA;
  color: white;
}
.texts {
  margin-top: 3rem;
}
.text-with-icons{
  display: flex;
}
.icon {
  font-size: 35px;
  margin: 7px;
  color: #495057;
}
.bio {
  line-height: 1.8;
  margin: 1rem 1rem;
  overflow-wrap: break-word;
}
a[data-view="edit-profile"],a[data-view="create-entry"],a[data-view="delete-entry"]{
  text-decoration: none;
  font-family: "Noto Sans JP",sans-serif;
  border: solid #CED4DA;
  border-radius: 20px;
  padding: 3px 22px;
  transition: background-color 0.5s ease, border 0.5s ease, color 0.3s ease;
  color: black;
  text-transform: uppercase;
}
a[data-view="edit-profile"]:hover{
  background-color: #CED4DA;
  color: white;
}
a[data-view="create-entry"]:hover{
  background-color: #CED4DA;
  color: white;
}
a[data-view="delete-entry"]:hover{
  background-color: #f00519;
  color: white;
  border:  solid #f00519;
}
a:active{
  color: white;
}
.row-entries-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 862px;
}
input::placeholder{
  font-family: "Yantramanav", sans-serif;
}
textarea::placeholder{
  font-family: "Yantramanav",sans-serif;
}
.entry-image{
  border-radius: 20px;
}
h2 {
  font-family: "Noto Sans JP",sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}
.notes {
  line-height: 1.8;
  overflow-wrap: break-word;
}
.texts.entry {
  margin-top: 0;
}
ol{
  padding: 0;
}
.row-half.ent{
  align-items: center;
}
.entries-container{
  margin-bottom: 1rem;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal{
  text-align: center;
  margin: auto;
  width: 541px;
  background-color: #CED4DA;
  padding: 1rem;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.delete-button:hover{
  background-color: #f00519;
  color: white;
  border: solid #f00519;
}
@media screen and (max-width: 850px){
  .row-half{
    flex-direction: column;
    margin-top: 1rem;
  }
  .image-frame{
    margin: auto;
    width: 75%;
    text-align: center;
  }
  .text-inputs{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: initial
  }
  textarea{
    width: 320px;
  }
  .row-full{
    margin: initial;
    text-align: center;
  }
   .row-button{
    text-align: center;
  }
  .text-with-icons{
    justify-content: center;
  }
  .bio {
    text-align: center;
  }
  h1{
    text-align: center;
    margin-left: initial;
    font-size: 29px;
  }
  .header-row{
    margin: auto;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  .header{
    padding: 1rem 0rem 0.5rem
  }
  .nav-bar{
    padding-bottom: 1rem;
  }
  .nav{
    font-size: 20px;
  }
  .row-entries-header{
    justify-content: space-around;
  }
  .texts{
    padding: 0 2rem;
  }
  .entries-container{
    margin-bottom: 3rem;
  }
  .modal{
    width: 333px;
    height: 212px;
  }
  .modal-buttons{
    margin: -1rem 0;
  }
  .modal-header{
    margin: -0.5rem 3px;
  }
}
