.header {
  font-family: "Yantramanav",sans-serif;
  font-size: 33px;
  background-color: #CED4DA;
  color: black;
  margin: 0;
  padding: 1rem 3rem;
}
h1 {
  font-family: "Noto Sans JP",sans-serif;
  font-size: 33px;
  margin-left: 3rem;
}
form {
  max-width: 862px;
  position: relative;
}
.row-half{
  display: flex;
}
.image-frame{
  width: 50%;
  margin-left: 3rem;
}
.profile-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.text-inputs {
  padding-left: 3rem;
  width: 50%;
}
.text {
  width: 20rem;
  height: 2.5rem;
  outline: none;
  border: solid #CED4DA;
  border-radius: 20px;
  transition: box-shadow 0.5s ease;
}
.text:focus{
  box-shadow: 0px 0px 20px lightgray;
}
p {
  font-family: "Noto Sans JP",sans-serif;
}
@media screen and (max-width:850px){
  .row-half{
    flex-direction: column;
  }
  .image-frame{
    margin: auto;
  }
  .text-inputs{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: initial
  }
}
.row-full {
  margin: 0 3rem;
}
textarea {
  width: 50rem;
  height: 8rem;
  border-radius: 20px;
  outline: none;
  border: solid #CED4DA;
  transition: box-shadow 0.5s ease
}
textarea:focus {
  box-shadow: 0px 0px 20px lightgray;
}
@media screen and (max-width: 850px){
  textarea{
    width: 320px;
  }
  .row-full{
    margin: initial;
    text-align: center;
  }
}
.row-button {
  text-align: right;
}
button{
  width: 5rem;
  font-family: 'Noto Sans JP',sans-serif;
  height: 35px;
  background-color: white;
  border: solid #CED4DA;
  border-radius: 20px;
  margin: 2rem 1rem;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  transition: background-color 0.5s ease;
}
button:hover {
  background-color: #CED4DA;
}
@media screen and (max-width: 850px){
  .row-button{
    text-align: center;
  }
}
